@font-face {
			font-family: 'Numbers';
			src: url('numbers.ttf');
			}


html, body {
    
	opacity: 1;
	-webkit-transition: all 2s ease-in-out;
	color: black;
	font-family: 'Numbers', Fallback, sans-serif;
	background-color:666666;
		}


.orbitHandle {

    position:absolute;
    /*left is one fourth of the screen width for some bizare reason, and top is half the screen height.
    My theory is that for some stupid fucking reason everything is halved
    iphone 6: 667, 187    
    */    

    top: 579 ;

    left: 500px;



}


/*the margins have to be half the size of the height and width plus the border size for the orbits*/
#murcury {

    position: absolute;
	border-radius: 50%;
	background: #CFD7DF;
    top: 0;
    left: 50%;

    height: 7px;
    width: 7px;
    margin-left: -4.5px;
    margin-top: -4.5px;
}

#murcury-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 50px;
    margin-top: -26px;
    margin-left: -26px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng .5s linear 0s infinite;

    -webkit-animation:orbEng .5s linear 0s infinite;
}


#venus {

    position: absolute;
	border-radius: 50%;
	background: #FEE582;
    top: 0;
    left: 50%;

    height: 16px;
    width: 16px;
    margin-left: -8px;
    margin-top: -9px;
}

#venus-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 75px;
    height: 75px;
    margin-top: -38.5px;
    margin-left: -38.5px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng2 1.24s linear 0s infinite;

    -webkit-animation:orbEng2 1.24s linear 0s infinite;
}


#earth {

    position: absolute;
	border-radius: 50%;
	background: #007FCC;
    top: 0;
    left: 50%;

    height: 18px;
    width: 18px;
    margin-left: -9px;
    margin-top: -10px;
}

#moon {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1px;
    margin-top: -1px;
}

#moon-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 22px;
    height: 22px;
    margin-top: -11px;
    margin-left: -11px;

    border: 0px solid;
    border-radius: 100%;
    animation:orbEng .5s linear 0s infinite;

    -webkit-animation:orbEng 2s linear 0s infinite;
}

#earth-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 120px;
    height: 120px;
    margin-top: -61px;
    margin-left: -61px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng3 2s linear 0s infinite;

    -webkit-animation:orbEng3 2s linear 0s infinite;
}


#mars {

    position: absolute;
	border-radius: 50%;
	background: #974A14;
    top: 0;
    left: 50%;

    height: 9px;
    width: 9px;
    margin-left: -4.5px;
    margin-top: -5.5px;
}

#mars-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 160px;
    height: 160px;
    margin-top: -81px;
    margin-left: -81px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng2 3.76s linear 0s infinite;

    -webkit-animation:orbEng2 3.76s linear 0s infinite;
}


#belt {

    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .3;
    
    width: 176px;
    height: 176px;
    margin-top: -148px;
    margin-left: -148px;

    border: 60px white solid;
    border-radius: 100%;
}


#jup {

    position: absolute;
	border-radius: 50%;
	background: #f9edda;
    top: 0;
    left: 50%;

    height: 60px;
    width: 60px;
    margin-left: -31px;
    margin-top: -31px;
}

#IO {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 3px;
    width: 3px;
    margin-left: -1.5px;
    margin-top: -1.5px;
}

#IO-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 1s linear 0s infinite;

    -webkit-animation:orbEng 1s linear 0s infinite;
}

#europa {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 3px;
    width: 3px;
    margin-left: -1.5px;
    margin-top: -1.5px;
}

#eropa-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 3s linear 0s infinite;

    -webkit-animation:orbEng 3s linear 0s infinite;
}


#ganymede {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 3px;
    width: 3px;
    margin-left: -1.5px;
    margin-top: -1.5px;
}

#ganymede-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 76px;
    height: 76px;
    margin-top: -38px;
    margin-left: -38px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 7s linear 0s infinite;

    -webkit-animation:orbEng 7s linear 0s infinite;
}

#callisto {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 3px;
    width: 3px;
    margin-left: -1.5px;
    margin-top: -1.5px;
}

#callisto-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 82px;
    height: 82px;
    margin-top: -41px;
    margin-left: -41px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 16s linear 0s infinite;

    -webkit-animation:orbEng 16s linear 0s infinite;
}



#jup-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 380px;
    height: 380px;
    margin-top: -191px;
    margin-left: -191px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng2 23s linear 0s infinite;

    -webkit-animation:orbEng2 23s linear 0s infinite;
}


#saturn {

    position: absolute;
	border-radius: 50%;
	background: #fffce9;
    top: 0;
    left: 50%;

    height: 45px;
    width: 45px;
    margin-left: -22.5px;
    margin-top: -22.5px;
}

#rings1 {

    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .3;
    width: 51px;
    height: 51px;
    margin-top: -29.5px;
    margin-left: -29.5px;

    border: 4px white solid;
    border-radius: 100%;
    animation:orbEng 20s linear 0s infinite;

    -webkit-animation:orbEng 20s linear 0s infinite;
}

#rings2 {

    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .9;
    width: 61px;
    height: 61px;
    margin-top: -36.5px;
    margin-left: -36.5px;

    border: 6px white solid;
    border-radius: 100%;
    animation:orbEng 20s linear 0s infinite;

    -webkit-animation:orbEng 20s linear 0s infinite;
}

#titan {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1.5px;
    margin-top: -1.5px;
}

#titan-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 78px;
    height: 78px;
    margin-top: -39px;
    margin-left: -39px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 1s linear 0s infinite;

    -webkit-animation:orbEng 16s linear 0s infinite;
}

#saturn-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 540px;
    height: 540px;
    margin-top: -271px;
    margin-left: -271px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng 60s linear 0s infinite;

    -webkit-animation:orbEng 60s linear 0s infinite;
}


#ur {

    position: absolute;
	border-radius: 50%;
	background: #a7d2c4;
    top: 0;
    left: 50%;

    height: 40px;
    width: 40px;
    margin-left: -21px;
    margin-top: -21px;
}

#miranda {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1px;
    margin-top: -1px;
}

#miranda-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 44px;
    height: 44px;
    margin-top: -22px;
    margin-left: -22px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 1.5s linear 0s infinite;

    -webkit-animation:orbEng 1.5s linear 0s infinite;
}


#ariel {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1px;
    margin-top: -1px;
}

#ariel-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 48px;
    height: 48px;
    margin-top: -24px;
    margin-left: -24px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 2.5s linear 0s infinite;

    -webkit-animation:orbEng 2.5s linear 0s infinite;
}


#ubmriel {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1px;
    margin-top: -1px;
}

#ubmriel-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 52px;
    height: 52px;
    margin-top: -26px;
    margin-left: -26px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 1s linear 0s infinite;

    -webkit-animation:orbEng 4s linear 0s infinite;
}

#titania {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1px;
    margin-top: -1px;
}

#titania-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 56px;
    height: 56px;
    margin-top: -28px;
    margin-left: -28px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 1s linear 0s infinite;

    -webkit-animation:orbEng 8.7s linear 0s infinite;
}

#oberon {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1px;
    margin-top: -1px;
}

#oberon-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 1s linear 0s infinite;

    -webkit-animation:orbEng 13.4s linear 0s infinite;
}




#ur-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 666px;
    height: 666px;
    margin-top: -334px;
    margin-left: -334px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng3 168s linear 0s infinite;

    -webkit-animation:orbEng3 168s linear 0s infinite;
}


#nep {

    position: absolute;
	border-radius: 50%;
	background: #3f7083;
    top: 0;
    left: 50%;

    height: 30px;
    width: 30px;
    margin-left: -16px;
    margin-top: -16px;
}

#triton {

    position: absolute;
	border-radius: 50%;
	background: white;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -1px;
    margin-top: -1px;
}

#triton-orbit {

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 38px;
    height: 38px;
    margin-top: -19px;
    margin-left: -19px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 1s linear 0s infinite;

    -webkit-animation:orbEngtwo 5.8s linear 0s infinite;
}

#nep-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 780px;
    height: 780px;
    margin-top: -391px;
    margin-left: -391px;

    border: 1px black solid;
    border-radius: 100%;
    animation:orbEng3 328s linear 0s infinite;

    -webkit-animation:orbEng3 328s linear 0s infinite;
}

#plut {

    position: absolute;
	border-radius: 50%;
	background: #e7b87d;
    top: 0;
    left: 50%;

    height: 2px;
    width: 2px;
    margin-left: -16px;
    margin-top: -16px;
}


#plut-orbit {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 1000px;
    height: 1000px;
    margin-top: -500px;
    margin-left: -500px;

    border: 0px black solid;
    border-radius: 100%;
    animation:orbEng 90520s linear 0s infinite;

    -webkit-animation:orbEng 90520s linear 0s infinite;
}




@keyframes orbEng {

    from {-webkit-transform:rotate(10deg);}

    to {-webkit-transform:rotate(-710deg);}

}

@-webkit-keyframes orbEng {

    from {-webkit-transform:rotate(10deg);}

    to {-webkit-transform:rotate(-710deg);}

}


@keyframes orbEng2 {

    from {-webkit-transform:rotate(300deg);}

    to {-webkit-transform:rotate(-420deg);}

}

@-webkit-keyframes orbEng2 {

    from {-webkit-transform:rotate(300deg);}

    to {-webkit-transform:rotate(-420deg);}

}


@keyframes orbEng3 {

    from {-webkit-transform:rotate(60deg);}

    to {-webkit-transform:rotate(-660deg);}

}

@-webkit-keyframes orbEng3 {

    from {-webkit-transform:rotate(60deg);}

    to {-webkit-transform:rotate(-660deg);}

}





@keyframes orbEngtwo {

    from {-webkit-transform:rotate(-30deg);}

    to {-webkit-transform:rotate(690deg);}

}

@-webkit-keyframes orbEngtwo {

    from {-webkit-transform:rotate(-30deg);}

    to {-webkit-transform:rotate(690deg);}
